.container {
  display: flex;
  height: 93vh;
}

.mapContainer {
  flex-grow: 1;
  position: relative;
  z-index: 1;
}

.map {
  width: 100%;
  height: 100%;
}

.buttonContainer {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 10;
}

.mapButton {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.mapButton:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.mapButton img {
  width: 30px;
  height: 30px;
}

.navbar {
  width: 350px;
  z-index: 10;
}

.FormContainer {
  width: 100%;
  height: 150px;
  background-color: #039ce4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchForm {
  width: 320px;
  height: 46px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  padding: 12px 16px 15px;
  border: 0 none;
  border-radius: 15px;
  font-size: 16px;
  width: 277px;
  height: 19px;
  outline: none;
}

.searchButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.searchIcon {
  width: 20px;
  height: 20px;
}

.searchResultsContainer {
  position: absolute;
  top: 80px;
  left: 20px;
  z-index: 10;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: auto;
  width: 300px;
}

.searchResultList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.searchResultItem {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.searchResultItem:hover {
  background-color: #e9ecef;
}

.searchResultTitle {
  font-weight: bold;
}

.searchResultAddress {
  font-size: 14px;
  color: #6c757d;
}

.postDetailOverlay {
  width: 400px;
  height: 85vh;
  position: absolute;
  top: 0;
  right: 0px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  z-index: 10;
}

.noResults {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 1.5em;
  color: #666;
}